
@media (min-width: 1200px) {
    .contenedor {
        max-width: 144rem;
    }
}

@media (min-width: 992px) {
    h2 { font-size: 3.3rem; }
}

@media (min-width: 1200px) {
    h2 { font-size: 3.6rem; }
}


/* ******** Header ******* */
@media (min-width: 992px) {
    .portada__principal .principal__evento {
        justify-content: space-between;
    }
    .portada__social .social__navigation {
        font-size: 3.4rem;
    }
    .principal__text .text__titulo {
        font-size: 8.5rem;
    }
}
@media (min-width: 1200px) {
    .header {
        height: 100vh;
    }
    .portada__social .social__navigation {
        font-size: 2.5vw;
    }
    .principal__evento .evento__p, .principal__evento .evento__p .icono {
        font-size: 1.7vw;
    }
    .principal__text .text__titulo {
        font-size: 8.5vw;
    }
    .principal__text .text__frase {
        font-size: 2rem;
    }
}


/* ********* Menu ********* */
@media (min-width: 992px) {
    .menu__navigation {
        padding: 1.5rem 1rem;
    }
    .menu__navigation__ul {
        max-width: 100%;
    }
    .menu__navigation__ul--logo .logo { 
        width: 25rem; 
    }    
    .menu__navigation__ul--desktop {
        display: inline-block;
        margin: 0 1rem
    }
    .menu__navigation__ul--responsive {
        display: none;
    }
}
@media (min-width: 1200px) {
    .menu__navigation__ul {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .menu__navigation__ul--logo .logo { 
        width: 30rem; 
    }
}


/* ******** Conferencia ******** */
@media (min-width: 992px) {
    .conferencia__contenedor .conferencia__p {
        font-size: 1.5rem;
        line-height: 1.2;
    }
}
@media (min-width: 1200px) {
    .conferencia__contenedor .conferencia__p {
        font-size: 1.7rem;
        line-height: 1.4;
    }
}


/* ********* Programa ******** */
@media (min-width: 992px) {
    .programa__info_evento {
        left: 5rem;
        padding: 2rem 1.5rem;
    }
    .menu__programa .icono,
    .detalle_evento .icono { font-size: 1.8rem}
    .detalle_evento p { font-size: 1.6rem }
    .detalle_evento h3 { font-size: 1.8rem }
}


/* ********* Ivitados ********* */
@media (min-width: 1200px) {
    .invitados__img_container {
        grid-template-columns: repeat(3, 1fr);
    }
}


/* ******* Contador ******** */
@media (min-width: 992px) {

    .container__contador {
        grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
        padding: 6rem 0;
    }
    .contador__div .numero { font-size: 6.8rem; }
    .contador__div h3 { font-size: 1.7rem; }
}
@media (min-width: 1200px) {
    .contador { padding: 5rem 0}
    .contador .container__contador { 
        padding: 7rem 0; 
    }
    .contador__div .numero { font-size: 5.6vw; }
    .contador__div h3 { font-size: 1.9rem; }
}



/* ******** Precio ********* */
@media (min-width: 992px) {
    .precios__contenedor_lista { padding: 3rem 0; }
    .item__precio_info h3 { font-size: 1.6rem}
    .item__precio_info .numero {
        font-size: 5.8rem;
    }
    .item__precio_info > ul {
        font-size: 1.4rem;
    }
    .item__precio_info .button { font-size: 1.5rem; }
}
@media (min-width: 1200px) {
    .precios__contenedor_lista { justify-content: space-evenly;}
    .item__precio_info h3 { font-size: 1.8rem}
    .item__precio_info .numero {
        font-size: 6.5rem;
    }
    .item__precio_info > ul {
        font-size: 1.6rem;
    }
    .item__precio_info .button {
        font-size: 1.7rem;
        padding: 1rem 3.3rem;
    }
}



/* ******** Mapa ******** */
@media (min-width: 992px) {
    .mapa { height: 34rem; }
}
@media (min-width: 1200px) {
    .mapa { height: 36rem; }
}



/* ********* Newsletter ********* */
@media (min-width: 1200px) {
    .newsletter__text { padding: 8rem 0; }
    .newsletter__text p { font-size: 2rem; }
    .newsletter__text h3 { font-size: 4.8vw; }
    .newsletter__text .button {
        padding: 1rem 5rem;
        font-size: 1.8rem;
    }
}



/* ******** Cuenta Regresiva ******* */
@media (min-width: 992px) {
    .cuenta_regresiva_contenedor {
        grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
    }
    .cuenta_regresiva {  padding: 4rem 1rem; }
    .cuenta .numero { font-size: 6.3rem}
    .cuenta h3 { font-size: 2.1rem}
}

@media (min-width: 1200px) {
    .cuenta .numero { font-size: 5.6vw}
    .cuenta h3 { font-size: 2.3rem}
}


/* ******** Footer ********* */
@media (min-width: 992px) {
    .footer_div h3 { font-size: 2.7rem; }
    .footer_div p { font-size: 1.5rem; }
    .copyright__footer { font-size: 1.5rem; }
    .footer_redes_nav .icono {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .footer_div h3 { font-size: 2.9rem; }
    .footer_div p { font-size: 1.7rem; }
    .copyright__footer { font-size: 1.8rem; }
    .footer_redes_nav .icono {
        font-size: 2.8rem;
    }
}