
html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem=10px **/
}

:root {
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'PT Sans', sans-serif;
    --color-primary: #fe4918;
}

*, *::before, *::after { box-sizing: inherit; }

body { background-color: #f2f2f2; }

img { 
    max-width: 100%; 
    height: auto; 
    width: 100%;
}

h2, h3 {
    font-size: 2.4rem;
    font-weight: 500;
    font-family: var(--font-primary);
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    height: 3rem;
    width: 10rem;
    display: block;
}

.contenedor {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--color-primary);
    padding: .8rem 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid var(--color-primary);
    cursor: pointer;
    transition: background-color .2s ease-in, border-color .2s ease-in;
}

.button:hover {
    background-color: #d62e00;
    border-color: #8a817e;
}

.numero {
    margin: 0;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 3.5rem;
    padding: .5rem 0;
}

.seccion {
    padding: 3rem 1rem;
}


/* ******************** */

.header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60rem;
}

.portada__social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.social__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
}

.social__navigation--li {
    padding: .8rem;
    margin: 0 .5rem;
}

.social__navigation--li .icono {
    color: #fff;
}

.portada__principal {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.principal__evento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evento__p{
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 700;
}

.evento__p .icono {
    color: var(--color-primary);
    font-size: 2.4rem;
    margin: 0 .5rem;
}

.principal__text {
    color: #fff;
    padding: 2rem 0;
    font-family: var(--font-secondary);
    text-align: center;
}

.text__titulo {
    margin: 3rem 0 5rem ;
    font-weight: 700;
    font-size: 10vw;
    text-transform: uppercase;
}
.text__frase {
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
}



/* *********** Menu GDL ************** */
.menu {
    background-color: #353535;
    position: sticky;
    top: 0;
    z-index: 1111;
}

.menu__navigation {
    padding: 0.8rem;
}

.menu__navigation__ul{
    padding: 1.5rem .8rem;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 55rem;
    margin-right: auto;
    margin-left: auto;
}

.menu__navigation__ul--logo { 
    width: 80%; 
}

.menu__navigation__ul--logo .logo { 
    width: 70%;
}

.menu__navigation__ul--responsive {
    width: 3.5rem;
    text-align: right;
}

.menu__navigation__ul--responsive span{
    height: .4rem;
    margin-bottom: .6rem;
    background-color: #fff;
    display: block;
}
.menu__navigation__ul--responsive span:last-child {
    margin-bottom: 0;
}

.menu__navigation__ul--desktop {
    display: none;
}

.menu__navigation__ul--desktop > a {
    font-family: var(--font-primary);
    text-transform: uppercase;
    padding: 1.8rem 1.5rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    transition: background-color .1s ease-in, color .2s ease-in;
}

.menu__disabled {
    display: none;
}

.menu__navigation__ul--desktop a:hover {
    background-color: var(--color-primary); 
}

.menu__navigation__ul--desktop a:last-child:hover {
    color: #fff; 
}

.menu__navigation__ul li:last-child a{
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}



/* ******** Conferencia ********* */
.conferencia__contenedor {
    text-align: center;
    /* padding: 2rem; */
}

.conferencia__p {
    font-family: var(--font-secondary);
    font-size: 1.3rem;
    line-height: 1.5
}



/* ********* Programa ********* */

.programa {
    position: relative;
}
.contenedor__programa {
    position: relative;
}

.programa__video {
    width: 100%;
    overflow: hidden;
}

.programa__video .video {
    width: 100%;
}

.video {
    display: none;
}

.programa__info_evento {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 5rem;
    background: linear-gradient( rgba(255,255,255, .3),rgba(255,255,255, .85));
}

.programa__info_evento h2 {
    margin: 1rem 0;
}

.menu__programa {
    width: 100%;
    padding: 0 1rem;
    display: table;
}

.menu__programa .item {
    display: table-cell; 
    text-align: center;
    color: #000;
    text-decoration: none;
    font-family: var(--font-primary);
    margin-bottom: 10px;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-primary);
}

.menu__programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 15px;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}

.menu__programa .icono,
.detalle_evento .icono{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-right: 1rem;
}

.ocultar {
    display: none;
}




/******* Detalle Evento *******/
.detalle_evento {
    margin-top: 1rem;
    border-bottom: 1px solid #000;
    padding: 1rem 1.4rem .5rem;
}
.detalle_evento:nth-child(2) {
    border: none;
}
.detalle_evento h3 {
    margin: 0 0 .9rem;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 1.6rem;
}
.detalle_evento p {
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    margin: 0 0 1rem;
}



/********* Nuestros Invitados ********/
.invitados__img_container {
    position: relative;
    display: grid;
    gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-content: center;
    justify-items: center;
    padding-bottom: 5rem;
}

.invitados__div > img {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out, transform .3s ease-in-out;
}
.invitados__div {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 1.8rem;
}

.invitados__div:hover > img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.invitados__div h3 {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1.2rem 1rem;
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;
    background-color: rgba(0,0,0,.55);
    transition: transform .3s ease-in-out, opacity .3s ease-in;
}

.invitados__div:hover h3 {
    transform: translateY(4.5rem);
    opacity: 0;
}



/********* Contador talleres, dias, y mas... **********/
.contador {
    background: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4) ), url(../img/bg-resumen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container__contador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    row-gap: 3rem;
}

.contador__div { text-align: center; }

.contador__div .numero { font-size: 5rem; }

.contador__div h3 {
    color: #fff;
    margin: 1rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
}



/*********** Precios **********  */

.precios__contenedor_lista {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-bottom: 5rem;
}

.item__precio_info {
    position: relative;
    scroll-snap-align: center;
    margin: 0 2.5rem;
    width: 70%;
    min-width: 25rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem .5rem;
    background-color: #fff;

    border: 1px solid #e1e1e1;
    text-align: center;
    transition: transform .3s ease, box-shadow .3s ease;
}

.item__precio_info h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: 400;
}

.item__precio_info .numero {
    color: #000;
    font-size: 4.6rem;
    padding: 1.5rem;
}

.item__precio_info > ul {
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.2rem;
    list-style: none;
    padding: 0;
    margin: 1.2rem 1rem;
}

.item__precio_info ul > li {
    text-transform: uppercase;
    padding-bottom: 2.3rem;
    color: #868686;
    line-height: 1.5;
}

.item__precio_info .icono {
    color: #32cd32;
    margin: 0 .5rem;
}

.item__precio_info .button {
    margin-top: 0;
    background-color: #fff;
    color: var(--color-primary);
}

.item__precio_info:nth-child(2n) .button{
    background-color: var(--color-primary);
    color: #fff;
}




/******** Mapa-Ubicacion ********/
.mapa {
    height: 30rem;
    background-color: aquamarine;
}



/******** Testimoniales *********/
.contenedor__testimonials { padding: .8rem 1.5rem; }

.testimonials__lista {
    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    padding-bottom: 5rem;
}

.item_testimonials {
    position: relative;
    scroll-snap-align: center;
    margin: 0 2rem;
    width: 70%;
    min-width: 26rem;
    max-width: 35rem;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 1.7rem 0 3.5rem;
}

.item_testimonials blockquote {
    margin: .5rem;
    padding: 1rem 1.3rem;
    position: relative;
    font-family: var(--font-secondary);
}

.item_testimonials blockquote p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 3px;
    text-align: justify;
}

.item_testimonials blockquote .icono {
    position: absolute;
    left: -2rem;
    font-size: 2rem;
    color: var(--color-primary);
}

.info__testimonial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.info__testimonial cite {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.3rem;
}

.info__testimonial cite span {
    text-transform: initial;
    color: #000;
}

.info__testimonial img {
    width: 60px;
    clip-path: circle(50% at 50% 50%);
}

/********* Newsletter ********/
.newsletter {
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(../img/bg-newsletter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.newsletter__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsletter__text p {
    margin: 0 0 .5rem;
    font-size: 1.4rem;
    font-family: var(--font-secondary);
    text-transform: lowercase;
    color: #fff;
}

.newsletter__text h3 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 3.6rem;
    margin: 0;
    color: #fff;
}

.newsletter__text .button {
    background-color: transparent;
    border-color: #fff;
    padding: .8rem 4rem;
    font-size: 1.4rem;
}


/******* Cuenta Regresiva *******/
.cuenta_regresiva { padding: 2rem 1rem;}

.cuenta_regresiva_contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    justify-items: center;
    row-gap: 3rem;
}

.cuenta .numero { font-size: 5rem;}

.cuenta_regresiva_contenedor .cuenta { text-align: center; }

.cuenta h3 {
    font-size: 1.6rem;
    font-weight: 400;
}



/******* Footer *******/
.footer { 
    background-color: #353535;
    padding: 2rem 2rem 1rem;
}

.footer__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem 4rem;
    color: #fff;
}

.footer_about {text-align: justify;}

.footer_div h3 {
    font-weight: 500;
    font-size: 2.2rem;
    text-align: left;
}

.footer_div span {
    color: var(--color-primary);
}

.footer_div p {
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    line-height: 1.6;
    margin: .8rem 0;
}

.footer_redes {
    width: 100%;
}

.footer_redes_nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem 3rem;
}

.footer_redes_nav .icono {
    font-size: 1.5rem;
    color: #fff;
}

.copyright__footer {
    background-color: #313131;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    color: #fff;
}

.copyright__footer p { margin: 0; }



/* ***** Paginas Internas ****** */
/* ********** Registro-Usuarios ********* */
.form__registro {
    font-size: 1.6rem;
    font-family: var(--font-secondary);
    font-weight: 600;
}

.form__registro--contenedor {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2.5rem 1rem;
    border-radius: 5px;
}

.form__registro_campo {
    padding: 1.5rem 0;
}

.form__registro_campo > input {
    padding: .5rem;
}

.precios__paquetes .item__precio_info:hover {
    transform: none;
    box-shadow: 0 0 8px #666;
}

.precios__paquetes .item__precio_info input {
    clear: both;
    width: 10rem;
    display: block;
    margin: 1rem auto 0;
}

.contenido__dia {
    padding-bottom: 3rem;
}

.talleres_caja .contenido__dia-viernes,
.contenido__dia-sabado,
.contenido__dia-domingo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21.5rem, 1fr));
}
.talleres_caja .contenido__dia-viernes > div,
.contenido__dia-sabado > div,
.contenido__dia-domingo > div {
    padding: 0 2rem;
    text-align: left;
}
.talleres_caja .contenido__dia-viernes > div p,
.contenido__dia-sabado > div p,
.contenido__dia-domingo > div p {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
.talleres_caja .contenido__dia-viernes > div label,
.contenido__dia-sabado > div label,
.contenido__dia-domingo > div label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}
.talleres_caja .contenido__dia-viernes > div input,
.contenido__dia-sabado > div input,
.contenido__dia-domingo > div input {
    margin-right: .5rem;
}
.talleres_caja .contenido__dia-viernes > div time,
.contenido__dia-sabado > div time,
.contenido__dia-domingo > div time {
    color: #fe4918;
    font-weight: bold;
}



.talleres_caja, .resumen_caja { 
    padding: 1rem 2rem;
    background-color: #fff;
    border: 2px solid #e1e1e1;
}

.contenido__dia h4 {
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 1rem;
    font-size: 2rem;
}
