
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem=10px **/
}

:root {
    --font-primary: 'Oswald', sans-serif;
    --font-secondary: 'Raleway', sans-serif;
    --color-primary: #fe4918;
}

*, *::before, *::after { box-sizing: inherit; }

body { background-color: #f2f2f2; }

img { max-width: 100%; }

h2, h3 {
    font-size: 2.5rem;
    font-family: var(--font-primary);
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 576px) {
    h2 {
        font-size: 2.7rem;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 3rem;
    }
}


h2::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/separador.png);
    background-repeat: no-repeat;
    height: 3rem;
    width: 10rem;
    display: block;
}

.contenedor {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--color-primary);
    padding: .8rem 2.8rem;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-primary);
    text-decoration: none;
    font-size: 1.3rem;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid var(--color-primary);
}

.numero {
    margin: 0;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 3.5rem;
    padding: .5rem 0;
}


/* ******************** */

.header {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60rem;
    padding: 3rem 1rem;
}

@media (min-width: 768px) {
    .header {
        height: 70rem;
    }
}
@media (min-width: 1200px) {
    .header {
        height: 100vh;
    }
}
.portada__social {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
}

.social__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.6rem;
}

.social__navigation--li {
    padding: .8rem;
    margin: 0 .5rem;
}
.social__navigation--li .icono {
    color: #fff;
}

.portada__principal {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.principal__evento {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
  .principal__evento {
      justify-content: space-evenly;
  }
}
.evento__p{
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--font-secondary);
    text-transform: uppercase;
    font-weight: 600;
}

@media (min-width: 1200px) {
    .evento__p {
        font-size: 1.6rem;
    }
}
.evento__p .icono {
    color: var(--color-primary);
    font-size: 2.4rem;
    margin: 0 .5rem;
}
.principal__text {
    color: #fff;
    padding: 2rem 0;
    font-family: var(--font-secondary);
    text-align: center;
}
.text__titulo {
    margin: 3rem 0 5rem ;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .text__titulo {
        font-size: 7rem;
        margin-top: 0;
    }
}

@media (min-width: 992px) {
    .text__titulo {
        font-size: 8.5rem;
    }
}
@media (min-width: 1200px) {
    .text__titulo {
        font-size: 10rem;
    }
}
.text__frase {
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
}
@media (min-width: 1200px) {
    .text__frase {
        font-size: 1.8rem;
    }
}



/* *********** Menu GDL ************** */
.menu {
    background-color: #353535;
    position: sticky;
    top: 0;
    z-index: 1111;
}
.menu__navigation__ul{
    padding: 1.5rem .8rem;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media (min-width: 992px) {
    .menu__navigation__ul {
        padding: 2rem 1rem;
    }
}
.menu__navigation__ul--responsive {
    width: 5.5rem;
    text-align: right;
}
.menu__navigation__ul--responsive span{
    height: .5rem;
    margin-bottom: .6rem;
    background-color: #fff;
    display: block;
}
.menu__navigation__ul--desktop {
    display: none;
}
.menu__navigation__ul--desktop > a {
    font-family: var(--font-primary);
    text-transform: uppercase;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 500;
    border-radius: 5px;
    color: #fff;
    transition: background-color .1s ease-in, color .3s ease-in;
}

@media (min-width: 992px) {
    .menu__navigation__ul--desktop {
        display: inline-block;
    }
    .menu__navigation__ul--responsive {
        display: none;
    }
}

.menu__disabled {
    display: none;
}

.menu__navigation__ul--desktop a:hover {
    background-color: var(--color-primary); 
}
.menu__navigation__ul--desktop a:last-child:hover {
    color: #fff; 
}

.menu__navigation__ul li:last-child a{
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}
.menu__navigation .logo { width: 85%; }




/* ******** Conferencia ********* */
.conferencia__contenedor {
    text-align: center;
    padding: 2rem;
}

.conferencia__p {
    font-family: var(--font-secondary);
    font-size: 1rem;
    line-height: 1.3rem;
}




/* ********* Programa ********* */

.programa {
    position: relative;
}
.contenedor__programa {
    position: relative;
}

.programa__video {
    width: 100%;
    overflow: hidden;
}

.programa__video .video {
    width: 100%;
}

.video {
    display: none;
}
@media (min-width: 768px) {
    .video {
        display: block;
    }
}

.programa__info_evento {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 2rem 5rem;
    background: linear-gradient( rgba(255,255,255, .3),rgba(255,255,255, .85));
}
@media (min-width: 768px) {
    .programa__info_evento {
        position: absolute;
        top: 1rem;
        left: 3rem;
        padding: 1rem 1rem;
        max-width: 50%;
    }
}
@media (min-width: 992px) {
    .programa__info_evento {
        left: 5rem;
        padding: 2rem 1.5rem;
    }
}

.programa__info_evento h2 {
    margin: 1rem 0;
}
@media (min-width: 768px) {
    .programa__info_evento h2 {
        margin-top: 0;
    }
}

.menu__programa {
    padding: 0 1rem;
}
@media (min-width: 768px) {
    .menu__programa {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-primary);
    }
}

.menu__programa .item {
    display: block; 
    text-align: center;
    color: #000;
    text-decoration: none;
    font-family: var(--font-primary);
    margin-bottom: 10px;
    font-size: 1.4rem;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-primary);
}
@media (min-width: 768px) {
    .menu__programa .item {
        border-bottom: none;
        margin: 0;
    }
}
.menu__programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 15px;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}

.menu__programa .icono,
.detalle_evento .icono{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-right: 1rem;
}
.ocultar {
    display: none;
}

@media (min-width: 768px) {
    .info__programa .button {
        margin-top: 1rem;
    }
}



/******* Detalle Evento *******/
.detalle_evento {
    margin-top: 1rem;
    border-bottom: 1px solid #000;
    padding: 1rem 1.4rem .5rem;
}
.detalle_evento:nth-child(2) {
    border: none;
}
.detalle_evento h3 {
    margin: 0 0 .9rem;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: 1.4rem;
}
.detalle_evento p {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    margin: 0 0 1rem;
}


/****** Nuestros Invitados ******/
.invitados { padding: 2.5rem 2.2rem 6rem; }


.invitados__img_container {
    position: relative;
    display: grid;
    gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-content: center;
    justify-items: center;
}

.invitados__div > img {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out, transform .3s ease-in-out;
}
.invitados__div {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 1.8rem;
}

.invitados__div:hover > img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.invitados__div h3 {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1.2rem 1rem;
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;
    background-color: rgba(0,0,0,.55);
    transition: transform .3s ease-in-out, opacity .3s ease-in;
}

.invitados__div:hover h3 {
    transform: translateY(4.5rem);
    opacity: 0;
}



/********* Contador talleres, dias, y mas... **********/
.contador {
    background: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4) ), url(img/bg-resumen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6.5rem 0;
}

.container__contador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 3rem;
}
@media (min-width: 1200px) {
    .container__contador {
        padding: 7rem 0;
    }
}

.contador__div { text-align: center; }

.contador__div .numero { font-size: 4.3rem; }
@media (min-width: 768px) {
    .contador__div .numero {
        font-size: 6.2rem;
    }
}
@media (min-width: 992px) {
    .contador__div .numero {
        font-size: 6.8rem;
    }
}
@media (min-width: 1200px) {
    .contador__div .numero {
        font-size: 6vw;
    }
}

.contador__div h3 {
    color: #fff;
    margin: 1rem 0 0;
    font-size: 1.3rem;
    font-weight: 400;
}

@media (min-width: 768px) {
    .contador__div h3 {
        font-size: 1.5rem;
    }
}
@media (min-width: 992px) {
    .contador__div h3 {
        font-size: 1.7rem;
    }
}
@media (min-width: 1200px) {
    .contador__div h3 {
        font-size: 1.9rem;
    }
}



/*********** Precios **********  */

.precios { padding: 2.5rem 1.2rem 6rem; }

.precios__contenedor_lista {
    display: grid;
    gap: 2rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-content: center;
    justify-items: center;
}

.precios__lista:nth-child(2n) .button{
    background-color: var(--color-primary);
    color: #fff;
}

.precios__info {
    border: 1px solid #e1e1e1;
    text-align: center;
    transition: transform .3s ease, box-shadow .3s ease;
    width: 80%;
}

.precios__info:nth-child(2n) .button {
    background-color: var(--color-primary);
    color: #fff;
}

.precios__info:hover {
    transform: scale(1.1);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 20px #666;
}

.item__precio_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5rem .5rem;
    background-color: #fff;
}

.item__precio_info h3 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--color-primary);
    font-weight: 400;
}

.item__precio_info .numero {
    color: #000;
    font-size: 4.2rem;
    padding: 1.5rem;
}

.item__precio_info > ul {
    font-family: var(--font-primary);
    font-size: 1.1rem;
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.item__precio_info ul > li {
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: #868686;
}

.item__precio_info .icono {
    color: #32cd32;
    margin: 0 .5rem;
}

.item__precio_info .button {
    margin-top: 0;
    background-color: #fff;
    color: var(--color-primary);
}




/******** Mapa-Ubicacion ********/

.mapa {
    height: 30rem;
    background-color: aquamarine;
}

/******** Testimoniales *********/
.testimonials { padding: 3rem 1rem 6rem}

.contenedor__testimonials { padding: .8rem 2rem; }

.testimonials__lista {
    display: grid;
    gap: 4rem 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-content: center;
    justify-items: center;
    
}

.item_testimonials {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 1.7rem 0 3.5rem;
    width: 95%;
}

.item_testimonials blockquote {
    margin: .5rem;
    padding: 1rem 1.3rem;
    position: relative;
    font-family: var(--font-secondary);
}

.item_testimonials blockquote p {
    font-size: 1.15rem;
    line-height: 1.6;
    word-spacing: 3px;
    text-align: justify;
}

.item_testimonials blockquote .icono {
    position: absolute;
    left: -2rem;
    font-size: 2rem;
    color: var(--color-primary);
}

.info__testimonial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.info__testimonial cite {
    color: var(--color-primary);
    font-family: var(--font-primary);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.info__testimonial cite span {
    text-transform: initial;
    color: #000;
}

.info__testimonial img {
    width: 60px;
    clip-path: circle(50% at 50% 50%);
}

/********* Newsletter ********/
.newsletter {
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(img/bg-newsletter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsletter__text p {
    margin: 0 0 .5rem;
    font-size: 1.2rem;
    font-family: var(--font-secondary);
    text-transform: lowercase;
    color: #fff;
}

@media (min-width: 768px) {
    .newsletter__text {
        padding: 2rem 0;
    }
    .newsletter__text p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1200px) {
    .newsletter__text {
        padding: 6rem 0
    }
    .newsletter__text p {
        font-size: 1.5rem;
    }
}

.newsletter__text h3 {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
    color: #fff;
}
@media (min-width: 768px) {
    .newsletter__text h3 {
        font-size: 4rem;
    }
}
@media (min-width: 1200px) {
    .newsletter__text h3 {
        font-size: 4.3vw;
    }
}

.newsletter__text .button {
    background-color: transparent;
    border-color: #fff;
    padding: .8rem 4rem;
    font-size: 1.4rem;
}



/******* Cuenta Regresiva *******/
.cuenta_regresiva { padding: 2rem 1rem;}

.cuenta_regresiva_contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .cuenta_regresiva_contenedor {
        padding-bottom: 3.5rem;
    }
}

.cuenta .numero { font-size: 4rem;}

@media (min-width: 768px) {
    .cuenta .numero { font-size: 5rem}
}
@media (min-width: 992px) {
    .cuenta .numero { font-size: 5.5rem}
}
@media (min-width: 1200px) {
    .cuenta .numero { font-size: 6rem}
}

.cuenta_regresiva_contenedor .cuenta { text-align: center; }

.cuenta h3 {
    font-size: 1.6rem;
    font-weight: 400;
}
@media (min-width: 768px) {
    .cuenta h3 { font-size: 1.8rem}
}
@media (min-width: 992px) {
    .cuenta h3 { font-size: 2rem}
}
@media (min-width: 1200px) {
    .cuenta h3 { font-size: 2.2rem}
}


/******* Footer *******/
.footer { 
    padding: 2.5rem; 
    background-color: #353535;
}

.footer__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 1.5rem 4rem;
    color: #fff;
}

.footer_about {text-align: justify;}

.footer_div h3 {
    font-weight: 500;
    font-size: 2.2rem;
    text-align: left;
}

.footer_div span {
    color: var(--color-primary);
}

.footer_div p {
    font-size: 1rem;
    font-family: var(--font-secondary);
    line-height: 1.6;
    margin: .8rem 0;
}

.footer_redes {
    width: 100%;
}

.footer_redes_nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem 3rem;
}

.footer_redes_nav .icono {
    font-size: 2rem;
    color: #fff;
}
