
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@400;500;700&display=swap');

html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem=10px **/
}

:root {
    --font-titles: 'Oswald', sans-serif;
    --font-parrafo: 'Raleway', sans-serif;
    --color-primary: #fe4918;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
}

h2, h3 {
    font-size: 3.2rem;
    font-family: var(--font-titles);
    text-transform: uppercase;
    text-align: center;
}

h2::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}

.contenedor {
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: var(--color-primary);
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-titles);
    text-decoration: none;
    font-size: 1.7rem;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid var(--color-primary);
}

.numero {
    margin: 0;
    color: var(--color-primary);
    font-family: var(--font-titles);
    font-weight: 400;
    font-size: 6rem;
    padding: .5rem 0;
}


/* ******************** */

.section_header {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
    display: flex;
    align-items: center;
}
.header__texto {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 90px;
}
.header__redes-sociales {
    position: absolute;
    top: 0;
    left: 40%;
    right: 50%;
}

.header__redes-sociales ul{
    padding-top: 3rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__redes-sociales ul>li {
    margin: 11px;
    font-size: 2.5rem;
}
.header__redes-sociales .icono {
    color: #fff;
}
.header__fecha-ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
}
.header__fecha-ubicacion p{
    margin: 0 2rem;
    font-size: 1.5rem;
    color: #fff;
    font-family: var(--font-parrafo);
    text-transform: uppercase;
    font-weight: 600;
}
.header__fecha-ubicacion .icono {
    color: var(--color-primary);
    font-size: 2.4rem;
    margin: 0 .5rem;
}

.header__texto h1 {
    margin: 3rem 0 5rem ;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--font-parrafo);
    text-transform: uppercase;
}

.header__texto h3 {
    text-align: center;
    color: #fff;
    font-family: var(--font-parrafo);
    font-weight: 400;
    font-size: 1.7rem;
}


/* *********** Menu GDL ***************** */
.section_menu {
    background-color: #353535;
    position: sticky;
    top: 0;
    z-index: 111111;
}
.menu__navigation ul{
    padding: 20px 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__navigation .menu__responsive {
    width: 55px;
    text-align: right;
}
.menu__navigation .menu__responsive span{
    height: 5px;
    margin-bottom: 6px;
    background-color: #fff;
    display: block;
}
/* .menu__navigation ul a {
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--font-titles);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
} */
/* .menu__navigation ul li:last-child a{
    border: 2px solid red;
} */


.menu__navigation .logo {
    width: 85%;
}



/* ****************************** */
.conferencia__contenedor {
    text-align: center;
    padding: 20px 20px;
}

.conferencia__contenedor p {
    font-family: var(--font-parrafo);
    font-size: 1.5rem;
    word-spacing: 2px;
    line-height: 22px;
}



/* **************************** */

.section_programa {
    position: relative;
}
.video-content {
    width: 100%;
    overflow: hidden;
}
.contenido_programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.programa_evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    padding-top: 5rem;
}

@media (min-width: 768px) {
    .programa_evento {
        width: 70%;
    }
}
@media (min-width: 992px) {
    .programa_evento {
        width: 50%;
    }
}
.menu__programa {
    width: 100%;
}
@media (min-width: 768px) {
    .menu__programa {
      display: table;
    }
}
.menu__programa .item {
    display: block; 
    text-align: center;
    color: #000;
    text-decoration: none;
    font-family: var(--font-titles);
    margin-bottom: 10px;
    font-size: 1.8rem;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-primary);
}
.menu__programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 15px;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}

@media (min-width: 768px) {
    .menu__programa .item{
      display: table-cell;
    }
}
.menu__programa .icono,
.detalle_evento .icono{
    color: var(--color-primary);
    font-size: 1.6rem;
    margin-right: 10px;
}
.ocultar {
    display: none;
}
  


/******* Detalle Evento *******/
.detalle_evento {
    margin-top: 20px;
    border-bottom: 1px solid #000;
    padding: 0 20px;
}
.detalle_evento:nth-child(2) {
    border: none;
}
.detalle_evento h3 {
    font-family: var(--font-parrafo);
    font-size: 1.8rem;
    color: var(--color-primary);
}
.detalle_evento p {
    font-family: var(--font-parrafo);
    font-size: 1.6rem;
    margin-bottom: 20px;
}


/****** Nuestros Invitados ******/
.section_invitados { padding: 2.5rem 2.2rem 6rem; }


.invitados_img {
    position: relative;
    display: grid;
    gap: 40px 15px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    justify-items: center;
}

.invitados__div > img {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out, transform .3s ease-in-out;
}
.invitados__div {
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 1.8rem;
}

.invitados__div:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.invitados__div h3 {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: 1.2rem 1rem;
    font-size: 2rem;
    color: var(--color-primary);
    font-weight: 400;
    background-color: rgba(0,0,0,.55);
    transition: transform .3s ease-in-out, opacity .3s ease-in;
}

.invitados__div:hover h3 {
    transform: translateY(4.5rem);
    opacity: 0;
}



/********* Contador talleres, dias, y mas... **********/
.section_contador {
    background: linear-gradient( rgba(0,0,0,.4), rgba(0,0,0,.4) ), url(img/bg-resumen.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 6.5rem 0;
}

.contenedor__contador {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    row-gap: 3rem;
}

.contador__div {
    text-align: center;
}

.contador__div .numero {
    font-size: 7rem;
}

.contador__div h3 {
    color: #fff;
    margin: 1rem 0 0;
    font-size: 1.6rem;
    font-weight: 400;
}

/* @media (min-width: ) {
    .section_contador {
        padding: 12rem 0;
    }
} */



/*********** Precios **********  */

.section_precios { padding: 2.5rem 2.2rem 6rem; }

.contenedor__precios__lista {
    display: grid;
    gap: 2rem 4rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
}

.precios__lista:nth-child(2n) .button{
    background-color: var(--color-primary);
    color: #fff;
}

.precios__lista {
    border: 1px solid #e1e1e1;
    text-align: center;
    transition: transform .3s ease, box-shadow .3s ease;
    width: 85%;
}

.precios__lista:hover {
    transform: scale(1.1);
    border: 1px solid var(--color-primary);
    box-shadow: 0 0 20px #666;
}

.item_precio {
    padding: 3rem 1rem;
    background-color: #fff;
}

.item_precio h3 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--color-primary);
    font-weight: 400;
}

.item_precio .numero {
    color: #000;
    font-size: 5.5rem;
    padding: 1.5rem;
}

.item_precio ul {
    font-family: var(--font-titles);
    font-size: 1.4rem;
    list-style: none;
    padding: 0;
    margin: 1rem;
}

.item_precio ul > li {
    text-transform: uppercase;
    padding-bottom: 2rem;
    color: #868686;
}

.item_precio .icono {
    color: #32cd32;
    margin: 0 .5rem;
}

.item_precio .button {
    margin-top: 0;
    background-color: #fff;
    color: var(--color-primary);
}



/******** Mapa-Ubicacion ********/

.section_mapa {
    height: 30rem;
    background-color: aquamarine;
}


/******** Testimoniales *********/
.section_testimonials { padding: 3rem 1rem 6rem}

.contenedor__testimonials { padding: .8rem 2rem; }

.testimonials__lista {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
}

.item_testimonials {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    padding: 0 1.7rem 0 3.5rem;
    width: 95%;
}

.item_testimonials blockquote {
    margin: .5rem;
    padding: 1rem 1.3rem;
    position: relative;
    font-family: var(--font-parrafo);
}

.item_testimonials blockquote p {
    font-size: 1.3rem;
    line-height: 1.6;
    word-spacing: 3px;
    text-align: justify;
}

.item_testimonials blockquote .icono {
    position: absolute;
    left: -2rem;
    font-size: 2rem;
    color: var(--color-primary);
}

.info__testimonial {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

.info__testimonial cite {
    color: var(--color-primary);
    font-family: var(--font-titles);
    text-transform: uppercase;
    font-size: 1.2rem;
}

.info__testimonial cite span {
    text-transform: initial;
    color: #000;
}

.info__testimonial img {
    width: 60px;
    clip-path: circle(50% at 50% 50%);
}


/********* Newsletter ********/
.section_newsletter {
    padding: 4rem 2rem;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url(img/bg-newsletter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter__text {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.newsletter__text p {
    margin: 0 0 .5rem;
    font-size: 1.2rem;
    font-family: var(--font-parrafo);
    text-transform: lowercase;
    color: #fff;
}

.newsletter__text h3 {
    font-family: var(--font-parrafo);
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    color: #fff;
}

.newsletter__text .button {
    background-color: transparent;
    border-color: #fff;
    padding: .8rem 4rem;
    font-size: 1.4rem;
}


/******* Cuenta Regresiva *******/
.section_cuenta_regresiva { padding: 2rem 1rem;}

.cuenta_regresiva_contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 2rem;
}

.cuenta_regresiva_contenedor .cuenta { text-align: center; }

.cuenta h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

/******* Footer *******/
.site_footer { 
    padding: 2.5rem; 
    background-color: #353535;
}

.footer__contenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 1.5rem 4rem;
    color: #fff;
}

.footer_about {text-align: justify;}

.footer_div h3 {
    font-weight: 500;
    font-size: 2.3rem;
    text-align: left;
}

.footer_div span {
    color: var(--color-primary);
}

.footer_div p {
    font-size: 1.2rem;
    font-family: var(--font-parrafo);
    line-height: 1.6;
    margin: .8rem 0;
}

.footer_redes {
    width: 100%;
}

.footer_redes_nav {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem 3rem;
}

.footer_redes_nav .icono {
    font-size: 2rem;
    color: #fff;
}
