html {
    box-sizing: border-box;
    font-size: 62.5%; /** 1rem=10px **/
}

:root {
    --font-titles: 'Oswald', sans-serif;
    --font-parrafo: 'Raleway', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
}

.contenedor {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

/* ******************** */

.section_header {
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(img/header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.header__texto {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 90px;
}
.header__redes-sociales {
    position: absolute;
    top: 0;
    left: 40%;
    right: 50%;
}

.header__redes-sociales ul{
    padding-top: 3rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__redes-sociales ul>li {
    margin: 11px;
    font-size: 2.5rem;
}
.header__redes-sociales .icono {
    color: #fff;
}
.header__fecha-ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
}
.header__fecha-ubicacion p{
    margin: 0 2rem;
    font-size: 1.3rem;
    color: #fff;
    font-family: var(--font-parrafo);
    text-transform: uppercase;
    font-weight: 600;
}
.header__fecha-ubicacion .icono {
    color: #ff3c00;
    font-size: 2.4rem;
    margin: 0 .5rem;
}

.header__texto h1 {
    margin: 3rem 0 5rem ;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    font-weight: 600;
    font-family: var(--font-parrafo);
    text-transform: uppercase;
}

.header__texto h3 {
    text-align: center;
    color: #fff;
    font-family: var(--font-parrafo);
    font-weight: 400;
    font-size: 1.5rem;
}


/* *********** Menu GDL ***************** */
.section_menu {
    background-color: #353535;
    position: sticky;
    top: 0;
    z-index: 111111;
}
.menu__navigation ul{
    padding: 20px 10px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.menu__navigation .menu__responsive {
    width: 55px;
    text-align: right;
}
.menu__navigation .menu__responsive span{
    height: 5px;
    margin-bottom: 6px;
    background-color: #fff;
    display: block;
}
/* .menu__navigation ul a {
    padding: 20px;
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--font-titles);
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
} */
/* .menu__navigation ul li:last-child a{
    border: 2px solid red;
} */


.menu__navigation .logo {
    width: 85%;
}



/* ****************************** */
.conferencia__contenedor {
    text-align: center;
    padding: 20px 20px;
}

.conferencia__contenedor h2 {
    font-size: 3.2rem;
    font-family: var(--font-titles);
    text-transform: uppercase;
}
.conferencia__contenedor h2::after {
    content: '';
    background-image: url(img/separador.png);
    display: block;
    height: 30px;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.conferencia__contenedor p {
    font-family: var(--font-parrafo);
    font-size: 1.5rem;
    word-spacing: 2px;
    line-height: 22px;
}



/* **************************** */

.section_programa {
    position: relative;
}
.video-content {
    width: 100%;
    overflow: hidden;
}
.contenido_programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.programa_evento {
    background-color: rgba(255, 255, 255, .8);
    padding: 15px;
    padding-top: 5rem;
}
.programa_evento .button {
    /* position: relative; */
    /* left: 350px; */
    background-color: #fe4918;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: var(--font-titles);
    text-decoration: none;
    font-size: 1.7rem;
    margin-top: 20px;
    display: inline-block;
    border: 2px solid #fe4918;
}
.programa_evento h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
}
.programa_evento h2::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    background-image: url(../img/separador.png);
    height: 30px;
    width: 100px;
    display: block;
}
@media (min-width: 768px) {
    .programa_evento {
      width: 70%;
    }
}
@media (min-width: 992px) {
    .programa_evento {
      width: 50%;
    }
}
.menu__programa {
    width: 100%;
}
@media (min-width: 768px) {
    .menu__programa {
      display: table;
    }
}
.menu__programa .item {
    display: block; 
    text-align: center;
    color: #000;
    text-decoration: none;
    font-family: var(--font-titles);
    margin-bottom: 10px;
    font-size: 1.8rem;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #fe4918;
}
.menu__programa a.activo::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 15px;
    background-image: url(../img/talleres-flecha.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: -20px;
}

@media (min-width: 768px) {
    .menu__programa .item{
      display: table-cell;
    }
}
.menu__programa .icono,
.detalle_evento .icono{
    color: #fe4918;
    font-size: 1.6rem;
    margin-right: 10px;
}
.ocultar {
    display: none;
}
  


  /** Detalle Evento **/
.detalle_evento {
    margin-top: 20px;
    border-bottom: 1px solid #000;
    padding: 0 20px;
}
.detalle_evento:nth-child(2) {
    border: none;
}
.detalle_evento h3 {
    font-family: var(--font-parrafo);
    font-size: 1.8rem;
    color: #fe4918;
}
.detalle_evento p {
    font-family: var(--font-parrafo);
    font-size: 1.6rem;
    margin-bottom: 20px;
}
